/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

html,body{
    margin :0;
    padding:0;
	font-family:'DM Sans', sans-serif;
}

.sfondo-index{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /* border: 1px solid #000; */
}

/* BANNER E MENU IN ALTO ALLA PAGINA  */
.banner{
    width: 100%;
    height: 20vh;
    border: 1px solid #000;
}

.banner img{
    width: 100%;
}

/* Stile del menu */
.menu {
    display: flex;
    justify-content: space-between;
    background-color: #012463;
    color: #fff;
    padding: 10px;
}




/* Stile dei link del menu */
.menu a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-size: larger;
    
    
}

/* Stile del tasto di ricerca */
.search-button {
    background-color: #0482b7;
    color: #fff;
    border: none;
    padding: 5px 10px;
}




/* Stile della barra di ricerca */
.search-bar {
    width: 200px;
    padding: 5px;
}

/* Stile del tasto di logout */
.logout-button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 5px 10px;
}

/* --------------------------------------------------HOMEPAGE.PHP */
.container-homepage{
    width: 100%;
    height: 74vh;
	background-image: linear-gradient(to left top, #0574a3, #046c98, #03648d, #025d83, #025578);
    border: 1px solid #000;
    /* display: flex; */
    /* justify-content: space-evenly; */
    /* align-items: center; */
}

.box1-alto,
.box2-basso{
	width: 100%;
	height: 50%;
	/* border: 1px solid #000; */
	display: flex;
	justify-content: space-evenly;
	/* margin-top: 5px; */

}

.box-card-coltelli,
.box-card-piatti,
.box-card-posate,
.box-card-bicchieri{
	width: 300px;
	height: 300px;
	margin-top: 2vh;
	/* border: 1px solid #000; */
}

/* form container */
.container-form1,
.container-form2,
.container-form3,
.container-form4{
    width: 45vh;
    height: 65vh;
    border: 1px solid #000;
    border-radius: 2%;
    justify-content: center;
    align-items: center;
}

/* INPUT TI TIPO SUBMIT DENTRO LE CARD DEI PRODOTTI  */

.input-card{
	padding: 10px 25px;
	background: #fff;
    margin-left: 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	color: #0482b7;
	font-size: 1.5vh;
	border:solid #0482b7 ;

}


/* TEST  CARD */

.card 
{
	position: relative;
	width: 280px;
	height: 280px;
	background: #0000;
	display: flex;
	box-shadow: 0 15px 45px rgba(32, 8, 151, 0.1);
	overflow: hidden;
	transition: 0.5s ease-in-out;
	border: 1px solid #000;
	border-radius: 10px;
}
.card:hover 
{
	width: 600px;
}
.card .imgBx 
{
	position: relative;
	min-width: 300px;
	height: 100%;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
}
.card .imgBx  img 
{
	max-width: 250px;
	transition: 0.5s ease-in-out;
}
.card:hover .imgBx  img 
{
	transform: rotate(-35deg) translateX(-20px);
}
.card .details 
{
	position: absolute;
	left: 0;
	width: 300px;
	height: 100%;
	background: #0482b7;
	display: flex;
	justify-content: center;
	padding: 20px;
	flex-direction: column;
	transition: 0.5s ease-in-out;
}
.card:hover .details 
{
	left: 300px;
}
.card .details::before 
{
	content: '';
	position: absolute;
	left: 0px;
	width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff;
	z-index: 1;
}
.card .details h3 
{
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.5em;
	line-height: 1em;
}
.card .details h3 span 
{
	font-size: 0.65em;
	font-weight: 300;
	opacity: 0.85;
	text-transform: none;
}
.card .details h4 
{
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.9em;
	line-height: 1em;
	margin-top: 20px;
	margin-bottom: 10px;
}
p 
{
	color: #fff;
	font-size: 1em;
	opacity: 0.85;
}
.size 
{
	display: flex;
	gap: 10px;
}
.size li 
{
	list-style: none;
	color: #fff;
	font-size: 0.9em;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #fff;
	cursor: pointer;
	font-weight: 500;
	opacity: 0.5;
}
.size li:hover 
{
	background: #fff;
	color: #0482b7
	/* opacity: 1; */
}
.group 
{
	position: relative;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	align-items: center;
}
.card .details h2 
{
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 2em;
}
.card .details h2 sup 
{
	font-weight: 300;
}
.card .details h2 small 
{
	font-size: 0.75em;
}
.card .details a 
{
	display: inline-flex;
	padding: 10px 25px;
	background: #fff;
	font-weight: 500;
    margin-left: 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	color: #0482b7;
}
/* ------------------------------------------REGISTRATI.PHP---------------- */
.container-registrati{
    width: 100%;
    height: 74vh;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    /* margin-top: 3vh; */
	align-items: start;
	background-image: linear-gradient(to left top, #0574a3, #046c98, #03648d, #025d83, #025578);
}

.box-form{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40vh;
	height: 40vh;
	border: 1px solid #000;
	background-color: #012463;
	border-radius: 10px;
	margin-top: 3vh;
}

.tasto-invio-form{
	padding: 10px 10px;
	margin-left: 4vh;
	background-color: #0482b7;
	border-radius: 10px;
	
}
.input-registrazione::placeholder{
	color: #fff;
	
}
.input-registrazione{
	border-radius: 5px;
	padding: 4px 10px;
	color: #fff;
	background-color: #025578;
	/* background-color: #0482b7; */
	font-family:'DM Sans', sans-serif;
}

.input-registrazione-invio{
	border-radius: 5px;
	padding: 10px 20px;
	margin-left: 2.5vh;
	color: rgb(255, 255, 255);
	background-color: #0482b7;
	/* background-color: #0482b7; */
	font-family:'DM Sans', sans-serif;
}
.input-search{
	padding: 4px 8px;
}

.input-search::placeholder{
	color: black;
}

/* ---------------CONTATTI.PHP------------------- */
.container-contatti{
	width: 100%;
    height: 74vh;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: space-evenly;
    /* margin-top: 3vh; */
	align-items: center;
	background-image: linear-gradient(to left top, #0574a3, #046c98, #03648d, #025d83, #025578);
}

.info-h2{
color: #fff;
}
/* ----------------------------CARRELLO.PHP */
.container-carrello{
	width: 100%;
    height: 74vh;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    /* margin-top: 3vh; */
	align-items: center;
	background-image: linear-gradient(to left top, #0574a3, #046c98, #03648d, #025d83, #025578);
}
.cronologia{
	width: 80%;
	height: 90%;
	border: 1px solid #000;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	border-radius: 10px;

}

.testo-cronologia{
	width: 100%;
	text-align: center;
	height: 7%;
}
.box1-cronologia,
.box3-cronologia{
	width: 100%;
	height: 23.25%;
	border: 1px solid #808080;
	display: flex;
	justify-content: start;
	padding-left: 20px;
	align-items: center;
}

.box1-cronologia{
	width: 100%;
	height: 23.25%;
	/* border: 1px solid #808080; */
	display: flex;
	justify-content: start;
	padding-left: 20px;
	align-items: center;
}

.box2-cronologia{
	width: 100%;
	height: 23.25%;
	/* border: 1px solid #808080; */
	display: flex;
	justify-content: start;
	padding-left: 20px;
	align-items: center;
}

.box4-cronologia{
	width: 100%;
	height: 23.25%;
	/* border: 1px solid #808080; */
	display: flex;
	justify-content: start;
	padding-left: 20px;
	align-items: center;
}
/* TESTI DI STAMPO ARTICOLI */
.box-testo-coltelli{
	width:50%;
	height: 100%;
	/* border: 1px solid #a81b1b; */
  }
  .box-foto-coltelli{
	width:50%;
	height: 100%;
	/* border: 1px solid #a81b1b; */
  }

  #foto-coltelli {
    width: 100px; /* Imposta la larghezza desiderata */
    height: 100px; /* Imposta l'altezza desiderata */
}
/* ------------------------------------------ */
/* test */
.menu-dropdown {
	display: none; /* Inizialmente nascosto */
	position: absolute;
	background-color: #012463;
	border: 1px solid #ccc;
	max-width: 190px;
	max-height: 100px; /* Imposta l'altezza massima */
	overflow-y: auto; /* Abilita lo scrolling se ci sono molti risultati */
  }
  
  .dropdown-list {
	list-style: none;
	padding: 0;
	margin: 0;

  }
  
  .dropdown-list li {
	padding: 5px;
	cursor: pointer;
	color: #ffffff;
  }
  
  /* Stili opzionali per evidenziare il risultato selezionato */
  .dropdown-list li:hover {
	background-color: #1075c8;
  }
 
 
  /* ---------------COOKIE */
  /* style.css */

.cookie-banner {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
	z-index: 100000000; /*Valore alto per posizionare sopra gli altri elementi*/

}

.bottone-cookie {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.testo-cookie{
	color: #000;
}
  

/* cookie  */
.show{
display: block;
}

.none{
	display: none;
}




